<!DOCTYPE html>
<html>
  {% load static %}
<head>
      <title>나의 웹사이트</title>
    
      <link rel="stylesheet" type="text/css" href="{% static 'css/homepagestyle.css' %}">
</head>

<body>

        <div class="header">
          <li>  <a href='/pynuts/' style="font-size: 30px;">여장신</a></li>
          <ul class="nav">               
                <li> <a href='/pynuts/homepage_introduction/' style="font-size: 30px;">소개</a></li>
                <li> <a href='/pynuts/homepage_necessity/' style="font-size: 30px;">영양제의 필요성</a></li>
                <li> <a href='/pynuts/homepage_problem/' style="font-size: 30px;">영양소 결핍 시 문제점</a></li>
            </ul>                   
        </div>
       
            <h1> 
                <br/>
                여장신 영양제 추천 사이트 </h1> 
                <br/>
                <br/>
                <strong> <li>이런 분들을 위해 존재합니다!</li>
                    <br/>   
                    <li>1.자신의 몸상태에 어떤 영양소가 필요한지 모른다. </li>
                   <li>2. 영양제에 대해 잘 모른다. </li>
                   <li>3. 자신의 몸상태를 진단받고 영양제 추천까지 한번에 받고 싶다.<li></strong>
                    <br/>
                    <br/><br/>
          <div class="new">
         <li>AI기반으로 개인에게 적합한 영양제를 추천해주는 사이트입니다.</li>
         <li>AI는 chatgpt api를 사용했고 평소의 식습관, 몸의 상태와 증상들을 설문조사를 통해 입력받아</li> 
          <li>부족한 영양소를 찾아내어 그에 맞는 영양제를 추천해드립니다. </li>
         <li>입력받은 데이터를 통해 영양제 중 함유량이 많은 것이 적합한 지 적은 것이 적합한 지 정하고 </li>
         <li>시중에 있는 영양제들 중 평가가 좋은 영양제를 하나 직접 선정하여 개인에게 알맞게 추천해드립니다.</li>
                 </div>
<br/>
<br/>








    <div class="last">
        <br/>
        <br/>
        <br/>
        <br/>
        <li> contributor : 장호중, 여은성, 신동우<br/>      
          phone number : 01050526808(여은성)<br/>
          right : 충북대학교 오픈소스기초프로젝트 
      </li>
      
      
      </div>
        </body>
        </html>
        