<!DOCTYPE html>
<html>
  
<head>
      <title>나의 웹사이트</title> 
      
      <link rel="stylesheet" type="text/css"href="homepagestyle.css">
</head>

<body>

        <div class="header">
          <li>  <a href='/pynuts/homepage/' style="font-size: 30px;">여장신</a></li>
          <ul class="nav">               
                <li> <a href='/pynuts/homepage_introduction/' style="font-size: 30px;">소개</a></li>
                <li> <a href='/pynuts/homepage_necessity/' style="font-size: 30px;">영양제의 필요성</a></li>
                <li> <a href='/pynuts/homepage_problem/' style="font-size: 30px;">영양소 결핍 시 문제점</a></li>
            </ul>                   
        </div>
        <div class="main_text">
            
    </div>
    <h1> 
        <br/>
        유산균 </h1> 
   <br/>
  <div class="new">
    <li>1.복통,변비 <br/><br/>2.만성피로<br/><br/>3.잦은 방귀<br/><br/>4.알러지
        
    </li>
</div>
<h1> 
    <br/>
    유산균 </h1> 
<br/>
<div class="new">
<li>유산균은 살아있는 생균을 섭취하는 것으로, 우리 몸 속 유해균을 억제하고 유익균은 증식시킨다. 이는 면역력을 강화하는 효과를 준다. 또한, 장 점막을 튼튼하게 해주면서 비만과 콜레스테롤, 인슐린 분비에도 영향력을 발휘한다.
    </li>
</div>
    
    
    
    
    <br/><br/><br/><br/><br/><br/><br/>
    <div classs="last">
       
        운영자 : 장호중, 여은성, 신동우<br/>
      전화번호 : 01050526808<br/>
      출처 : 충북대학교 오픈소스기초프로젝트 
      
      
      
      </div>
        </body>
        </html>