<!DOCTYPE html>
<html>
  
<head>
      <title>나의 웹사이트</title> 
      
      <link rel="stylesheet" type="text/css"href="homepagestyle.css">
</head>

<body>

        <div class="header">
          <li>  <a href='/pynuts/homepage/' style="font-size: 30px;">여장신</a></li>
          <ul class="nav">               
                <li> <a href='/pynuts/homepage_introduction/' style="font-size: 30px;">소개</a></li>
                <li> <a href='/pynuts/homepage_necessity/' style="font-size: 30px;">영양제의 필요성</a></li>
                <li> <a href='/pynuts/homepage_problem/' style="font-size: 30px;">영양소 결핍 시 문제점</a></li>
            </ul>                   
        </div>
        <div class="main_text">
            
    </div>
        </body>
        </html>