<!DOCTYPE html>
<html>
  
<head>
      <title>나의 웹사이트</title>
      <link rel="stylesheet" type="text/css"href="homepagestyle.css">
</head>

<body>

        <div class="header">
          <li>  <a href='/pynuts/homepage/' style="font-size: 30px;">여장신</a></li>
          <ul class="nav">               
                <li> <a href='/pynuts/homepage_introduction/' style="font-size: 30px;">소개</a></li>
                <li> <a href='/pynuts/homepage_necessity/' style="font-size: 30px;">영양제의 필요성</a></li>
                <li> <a href='/pynuts/homepage_problem/' style="font-size: 30px;">영양소 결핍 시 문제점</a></li>
            </ul>                   
        </div>
       
            <h1> 
                <br/>
                여장신 영양제 추천 사이트 </h1> 
                <br/>
                <br/>
                <strong> <li>이런 분들을 위해 존재합니다!</li>
                    <br/>   
                    <li>1.자신의 몸상태에 어떤 영양소가 필요한지 모른다. </li>
                   <li>2. 영양제에 대해 잘 모른다. </li>
                   <li>3. 자신의 몸상태를 진단받고 영양제 추천까지 한번에 받고 싶다.<li></strong>
                    <br/>
                    <br/>
<li>AI기반으로 개인에게 적합한 영양제를 추천해주는 사이트입니다.</li>
<li>AI는 chatgpt api를 사용했고 시중에 있는 영양제 중 평가가 좋은 영양제를 </li>
<li>개발자가 직접 선정해 함유량에 따라 개인에게 알맞게 추천해드립니다.</li>
<br/>
<br/>








    <div classs="last">
        <br/>
        <br/>
        <br/>
        <br/>
        운영자 : 장호중, 여은성, 신동우<br/>
      전화번호 : 01050526808<br/>
      출처 : 충북대학교 오픈소스기초프로젝트 
      
      
      
      </div>
        </body>
        </html>
        