<!DOCTYPE html>
<html>
    
<head>
      <title>나의 웹사이트</title> 
      
      <link rel="stylesheet" type="text/css"href="homepagestyle.css">
</head>

<body>

        <div class="header">
          <li>  <a href='/pynuts/homepage/' style="font-size: 30px;">여장신</a></li>
          <ul class="nav">               
                <li> <a href='/pynuts/homepage_introduction/' style="font-size: 30px;">소개</a></li>
                <li> <a href='/pynuts/homepage_necessity/' style="font-size: 30px;">영양제의 필요성</a></li>
                <li> <a href='/pynuts/homepage_problem/' style="font-size: 30px;">영양소 결핍 시 문제점</a></li>
            </ul>                   
        </div>
       <li>영양제는 왜 필요할까?</li>
       <li>① 바쁜 현대인은 영양소가 풍부한 야채와 과일을 충분히 섭취하기가 어렵다. </li>
       <li>예를 들어 장을 보러 마트에 가면 손쉽게 먹을 수 있는 가공식품과 간편식이 가능하다. 또한, 사정상 패스트푸드와ㅏ 배달음식을</li>
       <li>즐겨 먹는 경우에는 트랜스지방과 칼로리는 많지만, 비타민과 미네랄은 적어서 영양소 불균형이 생기게 된다.</li>
       <li>이러한 음식들은 감미료를 포함하는 경우가 많은데, 감미료는 우리 몸의 미네랄을 고갈시키는 특성이 있어서 섭취를</li>
       <li>주의해야 한다.</li>
       <li> ② 두 번째로 평소에 건강식을 하더라도 우리가 신선하다고 생각하는 야채에는 미네랄이 부족한 경우가 있고, 다량의 살충제 축적된 토양에서 자랐을 가능성이 있다. 이는 예전과는 토양의 비옥함 자체가 달라졌다는 뜻이다.</li>
       <li>김지영 약사는 “생산량과 상품 외관에 더 집중하게 되면서 화학비료나 살충제를 쓸 수밖에 없고, 이로 인해 영양소는 더 떨어지게 되는 것이다”라고 설명했다. 더불어, 김지영 약사는 “과일을 구매한 후에 보관되는 시간과 조리 과정에서도 영양소가 파괴될 수 있다”라고 말하며, “과일과 채소는 우리의 기대보다 무늬만 건강할 가능성이 있다”라고 답했다. 그 밖에 최근에는 환경오염으로 인해 수은 중독된 등푸른생선, 방사능 오염된 농수산물 등 건강에 대한 위험이 증가했다. 이에 김지영 약사는 음식만으로는 걱정 없이 영양소의 권장 섭취량을 채우기 어렵기 때문에 적절한 영양제로 보충하는 것이 건강을 지키는 방법이라고 말했다.</li>


    <div classs="last">
        <br/>
        <br/>
        <br/>
        <br/>
        운영자 : 장호중, 여은성, 신동우<br/>
      전화번호 : 01050526808<br/>
      출처 : 충북대학교 오픈소스기초프로젝트 
      
      
      
      </div>
        </body>
        </html>