<!DOCTYPE html>
<html>
  
<head>
      <title>나의 웹사이트</title> 
      
      <link rel="stylesheet" type="text/css"href="homepagestyle.css">
</head>

<body>

        <div class="header">
          <li>  <a href='/pynuts/homepage/' style="font-size: 30px;">여장신</a></li>
          <ul class="nav">               
                <li> <a href='/pynuts/homepage_introduction/' style="font-size: 30px;">소개</a></li>
                <li> <a href='/pynuts/homepage_necessity/' style="font-size: 30px;">영양제의 필요성</a></li>
                <li> <a href='/pynuts/homepage_problem/' style="font-size: 30px;">영양소 결핍 시 문제점</a></li>
            </ul>                   
        </div>
        <div class="main_text">
            
    </div>
    <h1> 
        <br/><br/>
        영양소 결핍 시 어떤 문제점들이 일어날까?</h1> 
    <h2> 
        <br/><br/>
        유산균 </h2> 
   <br/>
  <div class="new1">
    <li>1.복통,변비 <br/><br/>2.만성피로<br/><br/>3.잦은 방귀<br/><br/>4.알러지<br/><br/>        
    </li>
</div>
<div class="images">
    <img src="image/유산균.jpeg" alt="">
</div>  
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h2> 
    <br/>
    오메가3 </h2> 
<br/>
<div class="new1">
<li>1.혈액 순환 문제 <br/><br/>2.눈 건조<br/><br/>3.기억력 저하<br/><br/>4.염증으로 인한 두통,근육통<br/><br/>        
</li>   
</div>
<div class="images">
    <img src="image/" alt="">
</div>  
<br/><br/><br/><br/><br/><br/><br/><br/>
<h2> 
    <br/>
    마그네슘 </h2> 
<br/>
<div class="new1">
<li>1.불면증 <br/><br/>2.두통<br/><br/>3.잦은 염증 및 감기<br/><br/>4.부정맥<br/><br/>5.기억력 저하와 우울감<br/><br/>근육경련 및 피로감        
</li>
</div>
<div class="images">
    <img src="image/두통.jpg" alt="">
</div>  
<br/><br/><br/><br/><br/><br/><br/><br/>
<h2> 
    <br/>
    철분 </h2> 
<br/>
<div class="new1">
<li>1.탈모 증상 <br/><br/>2.두통<br/><br/>3.불안감<br/><br/>4.만성피로<br/><br/>        
</li>
</div>
<div class="images">
    <img src="image/철분.jpg" alt="">
</div>  
<br/><br/><br/><br/><br/><br/><br/><br/>
<h2> 
    <br/>
    칼슘</h2> 
<br/>
<div class="new1">
<li>1.근육 통증 <br/><br/>2.만성피로<br/><br/>3.손톱 및 피부 증상<br/><br/>4.골다공증<br/><br/>5.치아손상<br/><br/>      
</li>
</div>
<div class="images">
    <img src="image/칼슘.jpeg" alt="">
</div>  
<br/><br/><br/><br/><br/><br/><br/><br/>
<h2> 
    <br/>
    비타민</h2> 
<br/>
<div class="new1">
    <strong><li>비타민 A</li><br/></strong>
<li>1.야맹증 <br/><br/>2.안구 건조증<br/><br/>3.모낭 각질증<br/><br/>4.벼, 치아 형성 결함<br/><br/>5.성장장애<br/>      
</li><br/><br/>
<strong><li>비타민 B</li><br/></strong>
<li>1.만성피로 <br/><br/>2.코 및 입술 건조함 및 염증<br/><br/>3.소화장애<br/><br/>4.우울감<br/><br/>5.알레르기 염증<br/>      
</li><br/><br/>
<strong><li>비타민 C</li><br/></strong>
<li>1.괴혈병 <br/><br/>2.우울감<br/><br/>3.코피<br/><br/>4.만성피로<br/><br/>5.체내 자가면역 부족<br/>      
</li><br/><br/>
<strong><li>비타민 D</li><br/></strong>
<li>1.골다공증 <br/><br/>2.빈혈<br/><br/>3.노화<br/><br/>4.비만<br/><br/>5.구루병<br/>      
</li>
</div>







    <br/><br/><br/><br/><br/><br/><br/>    
    <div class="last">
       
       <li> 운영자 : 장호중, 여은성, 신동우<br/>
      전화번호 : 01050526808<br/>
      출처 : 충북대학교 오픈소스기초프로젝트 
    </li>
      
      
      </div>
        </body>
        </html>