h1 {
  font-size:2em;
  font-style:italic;
  color:black;
  
}


b{
  color:black;
}

.redtext{
  color : red;
}

#container {
  border:2px solid #222;
  padding : 10px;
}

.center {
  text-align: center;
  height: 100vh;
  width:100px; 
  height:100px;
   background-color:#CF0;
   
  /* 화면의 세로 길이를 기준으로 정렬 */
}

#input_submit_button{
   width :100px;
   height :50px;
   background-color: black;
   color:white;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom : none;
    text-align:center;
   border-radius: 5px;

}
.input:hover{
  color:white;
  background-color: #CF0;
}

.return_home_page_button{
  text-align: center;
  background-color: black;
  color:white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom : none;
   text-align:center;
  border-radius: 5px;
  font-size: 2px;
}


.imgcontainer{
  height: 10vh;
  width: 10vw;
}

.diagnosis_result_background{
  
  text-align: center;
            background-image: url('../image/medicine_background.jpg');
          background-repeat: no-repeat;
           background-position: center center;
            background-attachment: fixed;
            background-size: 100% 100%;
            font-size: 30px;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}
.header{
  display:flex;  /*가로로 배치*/    
  width:1280px;
  margin:auto;
  line-height:86px;
  height:86px;
  font-weight:800;
  
}

.nav{
  display:flex;
  justify-content: flex-end;
  line-height: 86px;
  width:calc(1280px - 300px);
  background-color: white;
 

}

.nav>li{
  margin-left:84px;

}
.icons{
  display:flex;
   width:600px;
   height:200px;
   margin: auto;

}

.icons>li{
flex:1;
background:white;
text-align:center;
margin-top:49px;
height: 200x;

}
.more{
  width:150px;
  height:50px;
  background:skyblue;
  margin:auto;
  border-radius: 5px;
  color:white;
    }